html body{
    margin: 0;
}

body{
  padding: 0;
}

header {
    background-color: #0096AD;
    height: 300px;
}

.container {
    align-items: center;
    text-align: center;
}

.patinha{
  margin-top: -10%;
  margin-left: -10%;
  width: 100px;
}

.patinha2{
  margin-top: -10%;
  margin-left: -15%;
  width: 100px;
}

.patinha3{
  margin-top: -10%;
  margin-left: 100%;
  width: 100px;
}

.patinha4{
  margin-top: -10%;
  margin-left: 105%;
  width: 100px;
}

.patinha5{
  margin-top: -10%;
  margin-left: 100%;
  width: 100px;
}

.patinha6{
  margin-top: -10%;
  margin-left: -120%;
  width: 100px;
}

.patinha7{
  margin-top: -40%;
  margin-left: 105%;
  width: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu img {
  margin-top: -120px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: -125px;
}

.menu ul li {
  margin-top: 10px;
  margin-right: 10px;
  color: aliceblue;
  font-size: large;
  padding-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

 .sobre h1{
  text-align: center;
}

.sobre {
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  margin-top: 50px;
 }

 .clinica h1{
  text-align: center;
 }

 .clinica{
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    margin-top: 50px;
 }


 .hotel h1{
    text-align: center;
 }

 
 .cards {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%; /* 40% da largura da tela */
    /* margin-left: 20px; Distância da margem esquerda */
    margin: auto;
    

  }

  .card-img-top {
    border-radius: 10px; /* Adjust the border radius value as desired */
}

  .cards-2{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%; /* 40% da largura da tela */
    /* margin-left: 20px; Distância da margem esquerda */
    margin: auto;
  }


  .card {
    margin: 0 10px;
  }

 .hotel{
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    margin-top: 50px;
 }

 .contato {
  margin-top: 5%;
  width: 100vw; /* Altere aqui */
  background-image: url('../images/bg-contato.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;


}

.invisible-div {
  color: #0096ad00;
}

.contato h1{
    /* padding-top: 10px; */
    width: 100px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: #0096ad00;
}

form{
    width: 600px;
    margin: auto;
    background-color: #0096ada9 ;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    height: 400px;
}

#name{
  width: 400px;
  margin: auto;
}

#email{
  width: 400px;
  margin: auto;
}

#message{
  width: 400px;
  margin: auto;
}


/* Nome de cada campo do form */
form label {
  color: white;
  width: 100px;
  font-weight: bold;
}


.custom-button {
    background-color: #0a4f5b !important; 
    color: #ffffff!important; 
    width: 400px;
  }

footer{
    background-color: #0096AD;
    height: 200px;
    width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.small-logo {
  width: 200px; 
}
