header {
    background-color: #0096AD;
    height: 300px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    margin-top: -120px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: -125px;
}

.menu ul li {
    margin-top: 10px;
    margin-right: 10px;
    color: aliceblue;
    font-size: large;
    padding-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}


 .sobre h1{
    text-align: center;
}

.sobre {
    width: 1000px;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    margin-top: 50px;

 }

.clinica h1{
    text-align: center;
}


.clinica {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
    margin-right: 40px;
}

.carrossel {
    margin-left: 20px;
    flex: 0 0 50%;
}

.carousel-item img {
    max-width: 400px;
    height: 400px;
    margin-left: 110px;
    border-radius: 10%;
  }

  /* .carousel-control-prev-icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.carousel-control-prev {
    margin-left: 70px; /* Ajuste o valor conforme necessário */
/* } */

.carousel-control-next {
    margin-right: 70px; /* Ajuste o valor conforme necessário */
} */


.conteudo-clinica {
    flex: 0 0 50%;
    margin-right: 10px;
    text-align: justify;
    font-size: 20px;
}


.hotel {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 100px;
}

.carrossel-2 {
    margin-right: 20px;
    flex: 0 0 50%;
}

.conteudo-hotel {
    flex: 0 0 50%;
    margin-right: 10px;
    text-align: justify;
    font-size: 20px;
}

.contato h1{
    padding-top: 50px;
    width: 100px;
    margin: auto;
}

form{
    width: 400px;
    margin: auto;
}

button{
    width: 400px;
    margin: auto;
    color: green;
}